.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-img {
  height: 320px;
  margin-top: 12px;
}
.not-found-heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 29px;
  color: #475569;
}

.not-found-para {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #475569;
}
